[package]
name = "nix-jettison"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
publish.workspace = true

[lib]
crate-type = ["cdylib"]

[dependencies]
nix-bindings = { workspace = true }

[lints]
workspace = true
